body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(50deg, #021309, #092a0f, #021309, black);
  background-size: 400% 400%;
  animation: cambiar 10s ease infinite;
  min-height: 100vh; /* Ensures body fills screen */
}

@keyframes cambiar {
  0% {
    background-position: 0 70%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 70%;
  }
}

.App {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh; /* Keeps app full height */
  display: flex;
  flex-direction: column;
}
