.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  padding: 1rem;
}

.loading {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1rem;
}
