.container {
  display: flex;
  flex-direction: column; /* Stack the buttons vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 40vh; /* Use the full viewport height for vertical centering */
}

.button {
  display: inline-block;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
  width: 100px;
  font-size: 15px;
  border: none;
  background-color: black;
}

.button:hover {
  background-color: #414141; /* Change button background color on hover */
  transition: 0.5s;
  transform: scale(1.1);
}

.p {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.img {
  width: 400px;
  height: 230px;
}
