@import url("https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4; /* Set your background color */
}

.about {
  margin-top: 90px;
  max-width: 800px;
  padding: 20px;
  text-align: center; /* Center the text inside the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.img {
  padding: 30px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.img:hover {
  transform: scale(1.3);
  transition: 1.1s;
}

.divskills {
  display: inline;
}

.divcontact {
  display: inline;
}
